
.slider-selected-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 2rem auto;
}

.slider {
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-selected {
   aspect-ratio: 1/1;
   height: 50px;
   margin: .5rem auto;
   border-radius: 50%;
   border: solid 2px gray;
 }
