.result{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
width: 100%;


  
}
.result-color {
  aspect-ratio: 1/1;
  height: 120px;
  margin: .5rem auto;
  border-radius: 50%;
  border: solid 4px gray;}
