
.color-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 40%;
  margin: auto;
  justify-content: space-around;
  gap: 1rem;
  
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7%;
    aspect-ratio: 1/1;

    &__name{
    text-align: center;
    height: 10%;
    }

    &__color{
    aspect-ratio: 1/1;
    height: 70px;
    margin: .5rem auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    }
  }
}

