
.color-list{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 40%;
  margin: auto;
  justify-content: space-around;
  gap: .3rem;
  
  &-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 7%;
    aspect-ratio: 1/1;
    min-width:100px;
    padding: .5rem .3rem;
    margin: .1rem .1rem;

    &__name{
    text-align: center;
    height: auto;
    }

    &__color{
    aspect-ratio: 1/1;
    height: 70px;
    margin: .5rem auto;
    border-radius: 50%;
    box-shadow: 2px 2px 2px black;
    }
  }
}
.selected{
  border: solid 2px #5c5c5c;
  border-radius: 10px;
  background: linear-gradient(145deg, #e1e1e1, #f0f0f0);
  box-shadow: 5px 5px 10px #5c5c5c,
              -5px -5px 10px #ffffff;
}

